<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This is a message to help you: {{message}}</p>
    </div>

    {{>footer}}
</body>

</html>